* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: grey;
    animation: pulse infinite alternate 500ms;
}

@keyframes pulse {
    from { 
        transform: scale(1.1);
        background-color: lightgrey;
    }
}